.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

figure.text-justify {
    text-align: justify;
  }
  .centered-image {
    
    text-align: center; /* Center horizontally */
}

figcaption {
  text-align: center;
  font-size: 18px; /* Adjust the font size as needed */
  color: #555; /* Text color */
  margin: 20px 0; /* Add spacing around the figcaption */
}

.typed {
  font-weight: bold; /* Make the typed text bold */
}
.centered-image img {
    display: block;
    margin: 0 auto; /* Center vertically */
}
  
.icon-and-name {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .with-border {
    border: 2px solid black;
}

  
  .app-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .app-name {
    margin: 0; /* Reset margin */
    font-weight: bold; /* Make the title bold */
  }
/* Add the following CSS to your stylesheet to style the label animation */
.form-outline {
  position: relative;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  top: -11px;
  padding: 2px;
  font-size: 12px;
  color: #007BFF;
  transition: 0.3s ease-in-out;
}

.form-label {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: white;

  transition: 0.3s ease-in-out;
}
.form-control::placeholder {
  opacity: 0;
}
.form-control:focus::placeholder{
  opacity: 1;
  animation-delay: 0.4s;
}

#registerForm{
  display: none;
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}