.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

body {
  overflow-y: auto;
}

.h-custom {
  height: calc(100% - 73px);
}

figure.text-justify {
  text-align: justify;
}

.centered-image {
  text-align: center;
}

figcaption {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}

.typed {
  font-weight: bold;
}

.centered-image img {
  display: block;
  margin: 0 auto;
}

.icon-and-name {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.with-border {
  border: 2px solid black;
}

.compact-instructions {
  margin-top: 4px;
  font-size: 14px;
  color: #888;
}

.app-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.app-name {
  margin: 0;
  font-weight: bold;
}

.form-outline {
  position: relative;
}

.form-control:focus+.form-label,
.form-control:not(:placeholder-shown)+.form-label {
  top: -11px;
  padding: 2px;
  font-size: 12px;
  color: #007BFF;
  transition: 0.3s ease-in-out;
}

.form-label {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: white;

  transition: 0.3s ease-in-out;
}

.form-control::placeholder {
  opacity: 0;
}

.form-control:focus::placeholder {
  opacity: 1;
  animation-delay: 0.4s;
}

#emailWarning {
  color: red;
  font-size: 12px;
}

.warning {
  color: red;
  font-size: 12px;
}

.modal-backdrop.static {
  opacity: 0.5;
  /* Adjust the opacity level as desired */
  background-color: #000;
  /* Adjust the background color as desired */
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}